
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/styles.css" />
        <title>Competitive Plant Machinery Insurance | plant-insurance.com</title>
    </head>
    <body>
        <div class="header">
            <div class="header_inner">
                <img src="public/logo.png" alt="plant-insurance.co.uk logo"><h1>plant-insurance.com</h1>
            </div>
        </div>
        <form method="POST" action="send"  class="form">
            <div class="form_inner">
                <h1>Enquiry</h1>
                <p>Please complete the form below to receive a competitive quote for plant insurance.</p>
                <p class="up"><em>Please Note:</em> fields marked <span class="inline">*</span> below are mandatory and must be completed.</p>
                <div class="form_section">
                    <p class="form_section-sub-title">Please enter your details below </p>
                    <div class="form-control">
                        <div class="form-control_input">
                            <input type="text" name="name" id="name" placeholder="Your Name" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="company" id="company" placeholder="Company" />
                        </div>
                        <div class="form-control_input">
                            <input type="tel" name="telno" id="telno" placeholder="Telephone Number" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="email" id="email" placeholder="Email" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="houseNameNumber" id="houseNameNumber" placeholder="Building/House number/name" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="address_1" id="address_1" placeholder="Address 1" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="address_2" id="address_2" placeholder="Address 2" />
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="town" id="town" placeholder="Town" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="city" id="city" placeholder="City" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="postcode" id="postcode" placeholder="Postcode" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="type" id="type" placeholder="Type of Insurance" required/><span>*</span>
                        </div>
                        <div class="form-control_input">
                            <input type="text" name="renewal_date" id="renewal_date" placeholder="Renewal Date (if applicable)" />
                        </div>
                        <div class="form-control_input">
                            <input type="textarea" name="message" id="message" placeholder="Other Information" />
                        </div>
                    </div>
                </div>
                <script src="https://www.google.com/recaptcha/enterprise.js?render=6LdufyodAAAAAJDM0CTuCJHnpzjrecKyyF3xOfCV"></script>
                <script>
                grecaptcha.enterprise.ready(function() {
                    grecaptcha.enterprise.execute('6LdufyodAAAAAJDM0CTuCJHnpzjrecKyyF3xOfCV', {action: 'login'}).then(function(token) {
                    ...
                    });
                });
                </script>
                <button type="submit">Submit</button>
                {{ msg }}
            </div>
        </form>
        <div class="footer">
            <div class="footer_inner">
                <h3>plant-insurance.com</h3>
                <p>Address 1, Address 2, Town, City</br>
                Vat No: 12456<br>
                Tel: <a href="">01234 567 890</a></p>
            </div>
            <hr>
            <div class="sub-footer">
                <p>© <script>const d = new Date(); document.write(d.getFullYear().toString())</script> <a href="">WEBDIGITAL WORKS</a> | <a href="">NVWeb</a></p>
            </div>
        </div>
    </body>
</html>